---
layout: base
---
<h1>Contact</h1>
<p>Our centre is managed by Joanne Davies.</p>
<p>Email: {% include email.html %}</p>
<p>Telephone: {% include telephone.html %}</p>
<p>Mobile: {% include mobile.html %}</p>
<hr>
<h2>Social Media</h2>
<table class="social">
  <tr>
    <td>
      <h3>Facebook</h3>
      <div class="facebook">
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FWeekendDayCentre&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" style="border:none; overflow:hidden; width:600px; height:430px; background: white; float:left; " allowtransparency="true" frameborder="0"></iframe>
      </div>
      <p style="color: white">-</p>
    </td>
    <td>
      <h3>Twitter</h3>
      <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/WeekendCentre" data-widget-id="664232378097901568" width="250px">Tweets by @WeekendCentre</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </td>
  </tr>
</table>